- content_for :title do I18n.t("iugu.account_settings") end

%h3
  = I18n.t "iugu.account_settings"

- if current_user.accounts.count > 0

  %h3 
    - if IuguSDK::enable_multiple_accounts
      = I18n.t("iugu.accounts")
    - else
      - if current_user.accounts.count > 1
        = I18n.t("iugu.accounts")
      - else
        = I18n.t("iugu.account")

  - current_user.accounts.each do |account|
    %div
      = account.name
      - if current_user_account.account_id == account.id
        |
        = I18n.t("iugu.active")
      - else
        |
        = link_to I18n.t("iugu.select"), account_select_path(:id => account.id)
      |
      = link_to I18n.t("iugu.settings"), account_view_path(:id => account.id)

- else
  %h2
    = I18n.t("iugu.i_dont_have_any_accounts")

- if IuguSDK::enable_multiple_accounts == true
  %div
    = link_to I18n.t("iugu.create_account"), account_create_path, :method => :post
