- content_for :title do I18n.t("iugu.account_settings") end

%h1
  Contas

- if @accounts.count > 0

  %table{ class: "table" }
    %thead
      %th
        &nbsp;
      %th
        &nbsp;
    %tbody
      - @accounts.each do |account|
        %tr
          %td
            = account.name
          %td
            .btn-group.pull-right
              - if current_user_account && current_user_account.account_id == account.id
                = link_to I18n.t("iugu.active"), "javascript:function(){}", :class => "btn btn-primary"
              - else
                = link_to I18n.t("iugu.select"), account_select_path(account), :class => "btn btn-primary"
              = link_to I18n.t("iugu.settings"), account_view_path(account), :class => "btn btn-primary"

- else
  %h2
    = I18n.t("iugu.i_dont_have_any_accounts")


- if IuguSDK::enable_multiple_accounts == true
  %div
    = link_to I18n.t("iugu.create_account"), account_create_path, :method => :post, :class => "btn btn-lg btn-success btn-block" 
