- content_for :title do "Account Settings" end

%h3
  = I18n.t "iugu.account_settings"

- if current_user_account
  %h2
    Current Account
  %div
    = I18n.t "iugu.account_number"
    = "#"
    = current_user_account.id
  %div
    = I18n.t "iugu.account_roles"
    = current_user_account.roles.map(&:name).to_s

  %h3 
    Accounts

  %br
  - current_user.accounts.each do |account|
    = account.id
    = account.name
    = account.subscription_id
    - if account.destroying?
      - if IuguSDK::delay_account_exclusion > 0
        = link_to I18n.t("iugu.undo"), account_cancel_destruction_path(:id => account.id), :confirm => I18n.t("iugu.are_you_sure?")
      - else
        = I18n.t("iugu.removing")

- else
  %h2
    I dont have any Accounts
