- content_for :title do I18n.t("iugu.account_settings") end

- if @accounts.count > 0

  %table
    %thead
      %th
        Conta
      %th{ :style => "width:50%" }
        &nbsp;
    %tbody
      - @accounts.each do |account|
        %tr
          %td
            = account.name
          %td
            .group.horizontal_stacking
              - if current_user_account && current_user_account.account_id == account.id
                = link_to I18n.t("iugu.active"), "javascript:function(){}", :class => "button no-bottom-margin disabled", :style => "width: 40%"
              - else
                = link_to I18n.t("iugu.select"), account_select_path(account), :class => "button no-bottom-margin", :style => "width: 40%"
              = link_to I18n.t("iugu.settings"), account_view_path(account), :class => "button no-bottom-margin", :style => "width: 60%"

- else
  %h2
    = I18n.t("iugu.i_dont_have_any_accounts")


- if IuguSDK::enable_multiple_accounts == true
  %div
    = link_to I18n.t("iugu.create_account"), account_create_path, :method => :post, :class => "button full-width no-bottom-margin default" 
