= I18n.t "iugu.available_plans"
%br
%br
%table
  %tr
    %th
      = I18n.t "iugu.plan"
    %th
      = "#{I18n.t("iugu.price")} (#{@currency})"
    %th
    - @plans.reverse.each do |plan|
      %tr
        %td
          = plan.name
        %td
          - price = plan.price_by_currency @currency
          = price.value_cents
        %td
          - if plan.identifier == @subscription.plan_identifier
            = I18n.t "iugu.your_plan"
          - else
            - text = "iugu.change_plan"
            - text = "iugu.upgrade" if price.value_cents > @subscription.price_cents
            - text = "iugu.downgrade" if price.value_cents < @subscription.price_cents
            = link_to(I18n.t(text), plan_change_url(id: @account.id.to_param, plan: plan.identifier), method: :post)
%br
= link_to I18n.t("iugu.back"), account_view_path(id: params[:id]), class: "button"
