- if user_signed_in?

  = I18n.t "iugu.signed_id"
  = current_user.email
  = link_to I18n.t("iugu.settings"), settings_path
  = ' | '
  = link_to I18n.t("iugu.sign_out"), logout_path, :method => :delete

- else

  = form_for @user, :url => login_path do |f|
    %div
      = f.label :email
      = f.email_field :email
    %div
      = f.label :password
      = f.password_field :password
    %div
      = f.check_box :remember_me
      = f.label :remember_me
    %div
      = f.submit I18n.t("iugu.sign_in")
