%h2
  = I18n.t("iugu.resend_confirmation_instructions")
= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification
  .inputs
    = f.input :email, :required => true
  .actions
    = f.button :submit, I18n.t("iugu.resend_confirmation_instructions")
= render :partial => "devise/shared/links"
