- content_for :title do I18n.t("iugu.resend_confirmation_instructions") end

.default-sdk-wrapper
  .default-sdk-dialog
    .container.no-padding

      = render :partial => "iugu/shared/responsive-dialog.header"

      .padding

        = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => "no-bottom-margin" }) do |f|


          - if resource.errors.size > 0
            .notice.notice-red
              = f.error_notification

          %h6.no-bottom-margin
            = I18n.t("iugu.resend_confirmation_instructions")


          .inputs
            = f.input :email, :required => false, :label => false, :placeholder => "E-mail"
          .actions
            = f.button :submit, I18n.t("iugu.resend_confirmation_instructions_action"), :class => "full-width default"

          %a.button.no-bottom-margin{ :href => new_session_path(resource_name) }
            = I18n.t("iugu.back")
