- content_for :title do I18n.t("iugu.sign_up") end

.default-sdk-wrapper
  .default-sdk-dialog
    .container.no-padding

      = render :partial => "iugu/shared/responsive-dialog.header"

      .padding
      
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "no-bottom-margin" } ) do |f|


          - if resource.errors.size > 0
            .notice.notice-red
              = f.error_notification

          %h6.no-bottom-margin
            = I18n.t("iugu.sign_up")

          - if IuguSDK::enable_guest_user
            .element-spacing
              .text
                = I18n.t "iugu.skip_and_save_later"
                %a{ :href => try_first_path, :"data-method" => :post }
                  = I18n.t "iugu.skip_and_save_later_action"

          .inputs
            = f.input :email, :required => false, :autofocus => true, :placeholder => "E-Mail", :label => false
            = f.input :password, :required => false, :placeholder => I18n.t("activerecord.attributes.password"), :label => false
            = f.input :password_confirmation, :required => false, :placeholder => I18n.t("activerecord.attributes.password_confirmation"), :label => false
            - if IuguSDK::enable_alias_on_signup
              = f.input :account_alias, :label => 'Alias'
            = render :partial => "iugu/shared/signup_fields", :locals => {:f => f}
            = f.hidden_field :locale, :value => @matched_locale_from_browser
            - unless params[:invitation_token].blank?
              = f.hidden_field :user_invitation, :value => params[:invitation_token]
            - if IuguSDK::enable_subscription_features
              = f.hidden_field :plan_identifier, value: @plan_identifier
              = f.hidden_field :currency, value: @currency
          .actions
            = f.button :submit, I18n.t("iugu.sign_up"), :class => "full-width default no-bottom-margin"

          - if IuguSDK::enable_social_login
            .social
              .text
                = I18n.t("iugu.or_sign_up_with")
              - if devise_mapping.omniauthable?
                - resource_class.omniauth_providers.each do |provider|
                  = link_to "#{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => "full-width button no-bottom-margin default #{provider.to_s}"


    .container.default-optional
      %a.button.no-bottom-margin{ :href => new_session_path(resource_name), :class => "bottom_button_dialog" }
        = I18n.t "iugu.already_have_account"
        %span.more-text
          = I18n.t "iugu.already_have_account_action"
