%h2 
  = I18n.t("iugu.sign_up")
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .inputs
    = f.input :email, :required => true, :autofocus => true
    = f.input :password, :required => true, :label => I18n.t("activerecord.attributes.password")
    = f.input :password_confirmation, :required => true, :label => I18n.t("activerecord.attributes.password_confirmation")
    - if IuguSDK::enable_alias_on_signup
      = f.input :account_alias, :label => 'Alias'
    = f.hidden_field :locale, :value => @matched_locale_from_browser
  .actions
    = f.button :submit, I18n.t("iugu.sign_up")

- if IuguSDK::enable_guest_user
  = link_to I18n.t("iugu.try_first"), try_first_path, :method => :post

%br
= render :partial => "iugu/shared/links"
