%div
  = I18n.t("iugu.invited_by")
  = @inviter.name
%div
  = I18n.t("iugu.account")
  = @user_invitation.account.id.to_s
%div
  = link_to I18n.t("iugu.accept"), update_invite_path(:invitation_token => @user_invitation.id.to_s + @user_invitation.token), :method => :post
