%div
  %h3
    = I18n.t("iugu.invite_to", account_name: @user_invitation.account.name)
  %h4
    = I18n.t("iugu.invited_by")
    = @inviter.name
%div
  - if current_user
    = link_to I18n.t("iugu.accept"), update_invite_path(:invitation_token => @user_invitation.id.to_s + @user_invitation.token), :method => :post, class: "button"
  - else
    %p
      Você não está logado!
    = link_to "Já tenho conta", new_user_session_path(invitation_token: @user_invitation.id.to_s + @user_invitation.token), class: "button"
    = link_to "Criar conta", new_user_registration_path(invitation_token: @user_invitation.id.to_s + @user_invitation.token), class: "button"
