Pricing
%br
- @plans.each do |plan|
  = link_to plan.name, new_user_registration_path(plan: plan.identifier)
  - plan.prices.each do |price|
    = "-"
    = price.value_cents
    = price.currency
  - plan.features.each do |feature|
    - if feature.important
      = "-"
      = feature.name
  %br

