!!! 5
%html{ :class => "no-js not-ready" }
  %head
    %title= content_for?(:title) ? (yield(:title) + " - " + IuguSDK::application_title) : I18n.t("iugu.settings")
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"
    = javascript_include_tag :vendor
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    = javascript_include_tag 'jquery_ujs'
    = javascript_include_tag "iugu-ux"

    %meta{ 'http-equiv' => "Content-Type", 'content' => "text/html; charset=UTF-8" }
    %meta{ 'http-equiv' => "cleartype", 'content' => "on" }
    %meta{ 'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge,chrome=1" }

    = csrf_meta_tags
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/

    -# HTML 5 support for Internet Explorer
    :plain
      <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    -# Mobile capabilities
    %meta{ name:"HandheldFriendly", content:"True" }
    %meta{ name:"MobileOptimized", content:320 }
    %meta{ name:"format-detection", content:"telephone=no" }
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1" }
    %meta{ name:"apple-mobile-web-app-capable", :content => "yes" }


  %body

    = render :partial => "iugu/shared/settings.header"

    - unless flash[:social] || flash[:group]
      - flash.each do |name, msg|
        - if msg.is_a? String
          .notice.notice-red{ :class => name }
            %button.close{ :'data-dismiss' => "notice" }
              &times;
            %h4.notice-heading
              = msg

    .container
      .row{ style: "padding-top: 90px" }
        .col-md-3{ style: "padding-top: 20px" }
          %ul.nav.nav-pills.nav-stacked
            %li{ :class => "#{controller_name=='profile'?'active':''}" }
              %a{ :href => profile_settings_path }
                = I18n.t "iugu.profile"
            %li{ class: "#{controller_name=='account'?'active':''}" }
              - if IuguSDK::enable_multiple_accounts == false && current_user.accounts.count <= 1
                = link_to I18n.t("iugu.account"), account_view_path
              - else
                = link_to I18n.t("iugu.accounts"), account_settings_path

        .col-md-9
          = yield
