!!! 5
:plain
  <!--[if IE 8 ]><html class="ie8 ie"> <![endif]-->
  <!--[if (gte IE 9)]><html class="ie9 ie"> <![endif]-->
  <!--[if !(IE)]><!--><html><!--<![endif]-->
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? (yield(:title) + " - " + IuguSDK::application_title) : I18n.t("iugu.settings")
    = csrf_meta_tags
    
    = stylesheet_link_tag    "settings"
    = javascript_include_tag "settings"

  %body{ :class => body_classes.join(' ') + ' settings iugu-ui' }


    .header
      = link_to image_tag('application_logo.png'), IuguSDK::app_main_url

      = link_to I18n.t("iugu.back_to") + ' ' + IuguSDK::application_title, IuguSDK::app_main_url, :class => "button", :id => "btn-settings-back"


    .container
      .wrapper

        %h1
          = I18n.t("iugu.settings")
        - unless flash[:social] || flash[:group]
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)


        = link_to I18n.t("iugu.profile"), profile_settings_path
        = ' | '
        - if IuguSDK::enable_multiple_accounts == false && current_user.accounts.count <= 1
          = link_to I18n.t("iugu.account"), account_view_path
        - else
          = link_to I18n.t("iugu.accounts"), account_settings_path

        = yield()



:plain
  </html>
